@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.mainRect {
  width: 1500px;
  height:auto;
  margin: auto;
}
.header {
  width: 1500px;
  height: 660px;
  background-image: url(assets/img/home/bgHeader.png);
}
.header_logo {
  width: 1500px;
  height: 200px;

  position: relative;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header_logoOne {
  width: 90px;
  height: 20px;
  /* // border: 1px solid black; */
  font-family: ProximaNova;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: -100px 0 0 150px;
}
.header_logoTwo {
  width: 2px;
  height: 20px;
  background-color: rgb(99, 97, 97);
  margin: -80px 0 0 -90px;
}
.header_logoThree {
  width: 200px;
  height: 20px;
  position: relative;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: -90px 0 0 -90px;
}
.imgLogoPhone {
  width: 14px;
  height: 14px;
}
.header_logoFour {
  width: 90px;
  height: 20px;
  margin: -70px 0 0 -70px;
}
.header_logoFour_button {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0 0 60px;
  font-family: Montserrat;
}
.header_logoFour_button:hover {
  color: #ffffff;
}
.header_logoFive {
  width: 150px;
  height: 20px;

  margin: -70px 0 0 -90px;
}
.header_logoSix {
  width: 120px;
  height: 20px;
  margin: -70px 0 0 -90px;
}

.header_logoSeven {
  width: 180px;
  height: 20px;
  margin: -70px 0 0 -90px;
}
.header_logoEight {
  width: 110px;
  height: 32px;
  margin: -70px 0 0 0;
}

.getstart {
  width: 110px;
  height: 32px;
  opacity: 0.8;
  border-radius: 5px;
  background-color: #6fb048;
  text-decoration: none;
  border: none;
}
.getstart_span {
  opacity: 1;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: white;
  z-index: 1;
}

.welcome {
  width: 550px;
  height: 255px;
 

  margin: 0 0 0 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly
}
.welcome_mainText {
  width: 317px;
  height: 38px;
  font-family: Roboto;
  font-size: 38px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.55;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.welcome_textMini{
  width: 507px;
  height: 41px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}
.welcome_buttonlearnMore{
  width: 186px;
  height: 50px;
  border-radius: 2px;
  background-color: #6fb048;
  border: none;

}
.welcome_buttonlearnMore_span{
  width: 97px;
  height: 12px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.contentDiv{
  height: 460px;
  width: 1500px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.contentDiv_mainText{
  width: 373px;
  height: 27px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.contentDiv_border{
  width: 65px;
  height: 1px;
  background-color: #6fb048;
}
.contentDiv_miniText{
  width: 451px;
  height: 36px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}



.contentDiv_logo{
 
  height: 175px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contentDiv_logoOne{
  width: 300px;
  height: 170px;
   
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}
.logoOne_img{
  width: 52px;
  height: 52px;
}
.logoOne_name{
  width: 161px;
  height: 14px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.logoOne_text{
  width: 299px;
  height: 59px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.secondContent{
  height: 210px;
  width: 1200px;

  margin :auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.secondContent_one_browser{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
}
.secondContent_one{
  width: 480px;
  height: 90px;
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.browser_logoname{
 
  width: 260px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.browser_logo{

   width: 30px;
  height: 30px;
}
.browser_name{
  width: 204px;
  height: 17px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.browser_Text{
  width: 487px;
  height: 37px;
  
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.secondContent_two{
  width: 480px;
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.secondContent_one_idea{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
}
.idea_logoName{
  width: 250px;
  height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.idea_logo{
  width: 30px;
  height: 30px;
}
.idea_name{
  width: 204px;
  height: 20px;
  margin: 0 0 0 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.idea_text{
  width: 477px;
  height: 37px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.secondContentDiv{
  height: 210px;
  width: 1200px;

  margin :auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phoneDiv{
  width: 1500px;
  height: 665px;
  background-image: url(assets/img/home/hand.png);
}
.phoneMiniDiv{
  width: 175px;
  height: 311px;
position: absolute;
margin:225px 0 0 408px;
background-image: url(assets/img/home/iphoneScreen.png);
}
.look{
  width: 557px;
  height: 33px;
  position: absolute;
  margin:45px 215px 14px 470px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.lookBorder{
  width: 65px;
  height: 1px;
  position: absolute;
  margin: 114px 1px 19px 700px;
  background-color: #6fb048;

}
.lookMinitext{
  width: 325px;
  height: 16px;
  position: absolute;
  margin: 150px 332px 22px 580px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.responsiveReady{

  height: 260px;
  width: 500px;
  position: absolute;
  margin: 250px 0 0 850px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.responsiveReady_text{
  width: 257px;
  height: 32px;
    font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.responsiveReady_miniText{
  width: 494px;
  height: 103px;
  
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.divAcces{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.accesOne{
  width: 460px;
  height: 53px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.accesTwo{
  width: 460px;
  height: 53px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.valeriaBoltneva{
  width: 1500px;
  height: 680px;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


}
.valeriaBoltneva_text{

  height: 205px;
  width: 506px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

}

.text_valeria{ 
   width: 506px;
  height: 145px;  
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;

}
.name_valeria{
  width: 129px;
  height: 35px;
  
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;

}
.name_valeria_span{
  width: 129px;
  height: 35px;
  
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #6fb048;
}
.valeriaBoltneva_photo{
  width: 400px;
  height: 400px;
  background-image: url(assets/img/home/valeria.png);
}
.map{
  height: 505px;
  width: 1500px;
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; background-color: #eef1ec;
}
.map_text{
  height: 170px;
  width: 500px;
  
}
.map_text_first{
  height: 32px;
  width: 577px;
  
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.map_text_second{
  width: 494px;
  height: 111px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.map_img{
  width: 707px;
  height: 382px;
  background-image: url(assets/img/home/map.png);
}
.contetnt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
width: 1500px;
height: 700px;
  margin: auto;
  /* border: 1px solid black; */
}
.include {
 
  height: 624px;
  width: 1500px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.include_checkbox {
  height: 100px;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.include_checkbox_one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid black; */
  height: 100px;
  width: 240px;
}
.include_checkbox_one_first {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_one_second {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_one_third {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid black; */
  height: 100px;
  width: 240px;
}
.include_checkbox_two_first {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_two_second {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_two_third {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid black; */
  height: 100px;
  width: 240px;
}
.include_checkbox_three_first {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_three_second {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_checkbox_three_third {
  width: 240px;
  height: 87px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.include_text {
  width: 416px;
  height: 26px;

  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.include_needHelp {
  width: 258px;
  height: 32px;

  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #6fb048;
}
.include_border {
  width: 65px;
  height: 1px;

  background-color: #6fb048;
}
.include_footer {
  width: 543px;
  height: 35px;

  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.include_email {
  width: 166px;
  height: 18px;
  font-family: Roboto;
  font-size: 18px;
  font-weight:700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.getstarted {
  width: 526px;
  height: 70px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;

}
.getstarted_borderLine{
  width: 65px;
  height: 1px;
    background-color: #6fb048;
}
.crass {
  width: 511px;
  height: 36px;
  margin:20px 0 0 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.price {
  width: 765px;
  height: 360px;
 
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.basic {
  width: 255px;
  height: 360px;
  border: solid 1px #c1d3d2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.basic_name {
  width: 42px;
  height: 13px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #6fb048;
  text-transform: uppercase;
}
.basic_price {
  width: 141px;
  height: 55px;
  font-family: Montserrat;
  font-size: 65px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.66;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.basic_month {
  width: 47px;
  height: 13px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.basic_content {
  width: 130px;
  height: 99px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.basic_button_one {
  width: 140px;
  height: 42px;
  /* margin: 24px 0 0 3px;
  padding: 16px 25px 15px; */
  border-radius: 2px;
  background-color: #83a7a5;
  border: none;
  outline: none;
}
.basic_button_one_span {
  width: 90px;
  height: 11px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
}
.lattextContent {
  width: 292px;
  height: 15px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}

.lastRect {
  width: 100%;
  height: 200px;
  background-image: url(assets/img/contactUs/bgDownload.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.buttonLast {
  width: 285px;
  height: 42px;
  border-radius: 2px;
  background-color: #6fb048;
  outline: none;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.doYouLike_oneText {
  width: 552px;
  height: 28px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.doYouLike_twoText {
  width: 553px;
  height: 15px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.footer {
  height: 287px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer_columnOne {
  width: 184px;
  height: 184px;
}
.wapikText {
  width: 69px;
  height: 16px;
  font-family: ProximaNova;
  font-size: 21.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  text-transform: uppercase;
}
.wapikAdress {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.footer_columnTwo {
  width: 100px;
  height: 184px;
}
.companyText {
  width: 55px;
  height: 13px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.links {
  margin: 22px 0 0 0;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5 !important;
  text-decoration: none;
}
a {
  color: #83a7a5;
  text-decoration: none;
}
.footer_columnThree {
  width: 100px;
  height: 184px;
}
.othersText {
  width: 39px;
  height: 12px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}

.supports {
  width: 89px;
  height: 98px;
  margin: 23px 0 0 0;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.footer_columnFour {
  width: 241px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.inputFooter {
  width: 241px;
  height: 36px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: #eef1ec;
  border: none;
}
.newsletter {
  width: 225px;
  height: 30px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.newsletter_text {
  width: 225px;
  height: 30px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.mainFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainFooterCorp {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.icon {
  width: 200px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.iconOne {
  width: 30px;
  height: 30px;
}
.iconTwo {
  width: 30px;
  height: 30px;
}
.iconThree {
  width: 30px;
  height: 30px;
}
.iconFour {
  width: 30px;
  height: 30px;
}
.iconFive {
  width: 30px;
  height: 30px;
}
.iconSix {
  width: 30px;
  height: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.getIn {
  width: 310px;
  height: 26px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.getInText {
  width: 401px;
  height: 36px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.form {
  width: 890px;
  height: 355px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.formGetIn {
  width: 500px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#formOne {
  width: 510px;
  height: 46px;
}
#formtwo {
  width: 510px;
  height: 94px;
}
.headquater {
  width: 342px;
  height: 274px;
  border: 2px dashed #c1d3d2;
  margin: -70px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.headquaterName {
  width: 152px;
  height: 20px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  margin: 0 0 0 41px;
}
.headquaterMap {
  width: 265px;
  height: 48px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
  margin: 0 0 0 41px;
}
.headquaterPhone {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
  width: 181px;
  height: 23px;
  margin: 0 0 0 41px;
}
.headquaterEmail {
  width: 198px;
  height: 16px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  margin: 0 0 0 41px;
}
@media (max-width: 1024px){
  .mainRect {
    width: 1024px;
  
    /* border: 1px solid black; */
   }
   .mainDiv{
     width: 1024px;
   }
   .header {
    width: 1024px;
  height: 600px;
background-image:url( "assets/img/home/bgHeader.png");
opacity: 1;
  
}
.header_logo {
  width: 1024px;


}
.contentDiv{
  width: 1024px;

}
.header_logoThree{
  margin: 10px 0 0 -150px;
}

.secondContent{

  width: 1024px;
}
.secondContentDiv{

  width: 1024px;
}
.phoneDiv{
  width: 1024px;
}
.responsiveReady{
  width: 200px;
  margin: 220px 0 0 650px ;
}
.responsiveReady_miniText{
  width: 350px;
}
.accesOne{
  width: 350px;
  margin: 50px 0 0 0;
 
}
.accesTwo{
  width: 350px;
  margin: 50px 0 0 0;
 
}
.valeriaBoltneva{
  width: 1024px;
}
.map{
  width: 1024px;
}
.contetnt{
  width: 1024px;
}
.include{
  width: 1024px;
}




@media (max-width: 375px) {
  .mainRect {
    width: 375px;
    height: auto;
    margin:auto;
    display: block;
    /* border: 1px solid black; */
   }
  .header {
    width: 375px;
  height: 600px;
background-image:url( "assets/img/home/bgHeader.png");
opacity: 1;
  }
  
.welcome{
  width: 350px;
  margin: 0 0 0 0;
}
.welcome_mainText{
  width: 350px;
  margin: 0 0 0 30px;
}
.welcome_textMini{
  width: 350px;
  margin: 0 0 0 20px;
}
.welcome_buttonlearnMore{
  width: 350px;
  margin: 0 0 0 10px;
}
.contentDiv{
  width: 350px;
  margin: 150px 0 0 10px;
}
.contentDiv_mainText{
  width: 350px;
  margin: 0 0 0 10px;
  
}

.contentDiv_miniText{
  width: 350px;
  margin: 50px 0 0 10px;
  font-size: 18px;

}
.contentDiv_logo{
  width: 350px;
  height: 800px;
  margin: 120px 0 0 0;
  flex-direction: column;
}
.contentDivIconWorksOne{
 margin: -370px 0 0 0;
 width: 375px;
 height: auto;
}
.secondContent{
  width: 350px;
  flex-direction: column;
  margin: 150px 0 0 70px;
}
.secondContentDiv{
  width: 350px;
  flex-direction: column;
  margin: 10px 0 0 70px;
}
  
  .header_logo {
    width: 375px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  
  }
  .header_logoOne {
    margin:-10px 0 0 120px;
    font-size: 35px;
  }
  .header_logoTwo {
    opacity: 0;
  }
  .header_logoThree {
    position: relative;
    font-family: Montserrat;
    font-size: 17px;
    margin: -60px 0 0 100px;
  }
  .header_logoFour {
    margin: -70px 0 0 150px;
  }
  .header_logoFive {
    margin: -70px 0 0 50px;
  }
  .header_logoSix {
    margin: -70px 0 0 150px;
  }
  .header_logoSeven {
    margin: -70px 0 0 50px;
  }
  .header_logoEight {
    margin: -40px 0 0 130px;
  }
  .header_button_span{
    margin: 0 0 0 0;

  }
  .header_button{
    margin: 0 0 0 60px;
    outline:invert;    border: black;
  }
  
 
 .contetnDiv{
   width: 375px;
   height:1200px;
   margin: 240px 0 0 0;
   /* border: 1px solid black; */
 }
 .contetnDiv_One{
   font-size: 40px;
   width: 350px;
 }
 .contetnDiv_Two{
   width: 350px;
   font-size: 20px;
   margin: -180px 0 0 0;
 }
 .contetnDiv_Three{
   margin: 70px 0 0 0;

   flex-direction: column;
 }
 .contentDivIconWorksOne{
  margin: 70px 0 0 0;
  width: 350px;
  height: auto;
 }
 .browser_Text{
  width: 350px;
  }
  
.idea_text{
  width: 350px;
  margin: 0 0 0 -100px;
}

.phoneDiv{
  flex-direction: column;
  width: 375px;
  height:900px;
  background-color: wheat;
  background-image: none;
  margin:  20px 0 0 0 ;
  
}
.look{
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
  width: 350px;
font-size:30px;
line-height: 1;
}
.lookBorder{
  display: none;

}
.lookMinitext{
  margin: 120px 0 0 0;
  padding: 10px 0 0 0;
  width: 350px;
  color: black
}
.phoneMiniDiv{
  margin: 200px 0 0 80px;
}
.responsiveReady{
  width: 350px;
  
  margin: 600px 0 0 40px;
}
.responsiveReady_miniText{
  width: 350px;
  color: black;
  margin: 20px 0 0 -20px;
}
.divAcces{
  width: 350px;
  margin: 50px 0 0 0;
 
}
.accesOne{
  width: 350px;
  color: black;
  margin: 0 0 0 -20px;
  padding: 10px 10px 10px 10px;
}
.accesTwo{
  width: 350px;
  color: black;
  margin: 20px 0 0 -20px;
  padding: 10px 10px 10px 10px;
}
.valeriaBoltneva{
  flex-direction: column-reverse;
  width: 350px;

}
.valeriaBoltneva_photo{
  width: 375px;
  height: 375px;
  margin: 0 0 0 0;
  background-image: url(assets/img/home/valeria.png);
}
.text_valeria{
  width: 350px;
  margin: 10px 0 0 100px;
}
.name_valeria{
  margin: 50px 0 0  190px;

}
.map{
    width: 375px;
   display: flex;
  flex-direction: column;
  
}
.map_text{  
  width:375px;
  }
.map_text_first{
  height: 32px;
  width: 350px;
    font-family: Roboto;
  font-size: 20px;
    padding: 20px 0 0 20px ;
 }
.map_text_second{
  width: 350px;
  margin: 20px 0 0 20px ;
  font-size: 16px;
   color: #83a7a5;
}
.map_img{
  width:375px;
  height: 375px;
  margin: 170px 0 0 0;
  background-image: url(assets/img/home/map.png);
}
.contetnt{
  width: 375px;
}
.getstarted{ 
  margin: 800px 0 0  ;
  width: 350px;
 }
 .getstarted_borderLine{
   display:none;
   }
   .crass{
     width: 350px;
     margin: 20px 0 0 10px;
   }
   .price {
     width: 375px;
    flex-direction: column;
    justify-content: space-around;
    margin: 100px 0 0 0;
    background-color: white;
    height: 1100px;
  }
  .include {
    margin: 750px 0 0 0;
    width: 375px;
    flex-direction: column;
  }
  .include_checkbox {
    width: 375px;
    flex-direction: column;
  }
  .include_text {
    font-size: 17px;
  }
  .include_checkbox_two {
    opacity: 0;
  }
  .include_checkbox_three {
    opacity: 0;
  }
  .include_footer {
    width: 375px;
  }

 .textOne{
   font-size: 16px;
 }

 .contentDivIconWorksTwo{
  padding:  50px 0 0 0;
 }
 .textTwo{
  font-size: 16px;
}

 .contentDivIconWorksThree{
  padding:  50px 0 0 0;
 }
 .textThree{
  font-size: 16px;
}
.paleteDiv{
  margin: -50px 0 0 120px;
}
.meetOurTeam_div{
  width: 375px;
  height: 1100px;
  /* border: 1px solid black; */
}
.meetOurTeam{
  margin: -250px 0 0 0;
}
.meetOurTeam_text{
  width: 355px;
  margin: -500px 0 0 0;
  font-size: 20px;
}
.meetOurTeam_team{
  margin: -200px 0 0 0;
  flex-direction: column;
}

  .lastRect {
    width: 375px;
    height: 200px;
    background-image: url(assets/img/contactUs/bgDownload.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
  }
  .doYouLikeDiv {
    margin: 0 0 0 20px; 
  }
  .doYouLike_oneText {
    width: 375px;
    font-size: 22px;
    color: black;
  }
  .doYouLike_twoText {
    width: 375px;
    font-size: 17px; color: black;
  }
  .downloadButton {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    margin: 160px 0 0 0;
  }
  .wapikText {
    margin: 0 0 0 50px;
  }
  .mainFooter {
    flex-direction: column;
    margin: 220px 0 0 0;
  }
  .footer_columnFour {
    margin: 29px 0 0 150px;
  }
  .newsletter_text {
    margin: 0 0 0 -70px;
  }
  .newsletter_input {
    margin: 20px 0 0 -70px;
  }
  .mainFooterCorp {
    margin: -30px 0 0 0;
    height: 50px;
  }
}

}
