@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.mainRect {
  width: 1500px;
  height: 1805px;
  margin: auto;
}
.header {
  width: 1500px;
  height: 85px;
}
.header_logo {
  width: 1500px;
  height: 200px;

  position: relative;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header_logoOne {
  width: 90px;
  height: 20px;
  /* // border: 1px solid black; */
  font-family: ProximaNova;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  margin: -100px 0 0 150px;
}
.header_logoTwo {
  width: 2px;
  height: 20px;
  background-color: rgb(99, 97, 97);
  margin: -80px 0 0 -90px;
}
.header_logoThree {
  width: 200px;
  height: 20px;
  position: relative;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5 !important;
  margin: -90px 0 0 -90px;
}
.imgLogoPhone {
  width: 14px;
  height: 14px;
}
.header_logoFour {
  width: 90px;
  height: 20px;
  margin: -70px 0 0 -70px;
}
.header_logoFour_button {
  color: #83a7a5;
  text-decoration: none;
  margin: 0 0 0 60px;
  font-family: Montserrat;
}
.header_logoFour_button:hover {
  color: #83a7a5;
}
.header_logoFive {
  width: 150px;
  height: 20px;

  margin: -70px 0 0 -90px;
}
.header_logoSix {
  width: 120px;
  height: 20px;
  margin: -70px 0 0 -90px;
}

.header_logoSeven {
  width: 180px;
  height: 20px;
  margin: -70px 0 0 -90px;
}
.header_logoEight {
  width: 110px;
  height: 32px;
  margin: -70px 0 0 0;
}

.getstart {
  width: 110px;
  height: 32px;
  opacity: 0.8;
  border-radius: 5px;
  background-color: #6fb048;
  text-decoration: none;
  border: none;
}
.getstart_span {
  opacity: 1;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: white;
  z-index: 1;
}
.header_button {
  width: 240px;
  height: 60px;
  border: none;
  position: relative;
  margin: 182px 0 0 630px;
  border-radius: 5px;
  background-color: #6fb048;
}
.header_button_span {
  width: 177px;
  height: 12px;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.contenctImg {
  width: 1500px;
  height: 400px;

  margin: 20px 0 0 0;
}
.content {
  width: auto;
  height: 764px;
  margin: auto;
}
.lastRect {
  width: 100%;
  height: 200px;
  background-image: url(assets/img/contactUs/bgDownload.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.buttonLast {
  width: 285px;
  height: 42px;
  border-radius: 2px;
  background-color: #6fb048;
  outline: none;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.doYouLike_oneText {
  width: 552px;
  height: 28px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.doYouLike_twoText {
  width: 553px;
  height: 15px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.footer {
  height: 287px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer_columnOne {
  width: 184px;
  height: 184px;
}
.wapikText {
  width: 69px;
  height: 16px;
  font-family: ProximaNova;
  font-size: 21.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  text-transform: uppercase;
}
.wapikAdress {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.footer_columnTwo {
  width: 100px;
  height: 184px;
}
.companyText {
  width: 55px;
  height: 13px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.links {
  margin: 22px 0 0 0;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5 !important;
  text-decoration: none;
}
a {
  color: #83a7a5;
  text-decoration: none;
}
.footer_columnThree {
  width: 100px;
  height: 184px;
}
.othersText {
  width: 39px;
  height: 12px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}

.supports {
  width: 89px;
  height: 98px;
  margin: 23px 0 0 0;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.footer_columnFour {
  width: 241px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.inputFooter {
  width: 241px;
  height: 36px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: #eef1ec;
  border: none;
}
.newsletter {
  width: 225px;
  height: 30px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.newsletter_text {
  width: 225px;
  height: 30px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.mainFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainFooterCorp {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.icon {
  width: 200px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.iconOne {
  width: 30px;
  height: 30px;
}
.iconTwo {
  width: 30px;
  height: 30px;
}
.iconThree {
  width: 30px;
  height: 30px;
}
.iconFour {
  width: 30px;
  height: 30px;
}
.iconFive {
  width: 30px;
  height: 30px;
}
.iconSix {
  width: 30px;
  height: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.getIn {
  width: 310px;
  height: 26px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.getInText {
  width: 401px;
  height: 36px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.form {
  width: 890px;
  height: 355px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.formGetIn {
  width: 500px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#formOne {
  width: 510px;
  height: 46px;
}
#formtwo {
  width: 510px;
  height: 94px;
}
.headquater {
  width: 342px;
  height: 274px;
  border: 2px dashed #c1d3d2;
  margin: -70px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.headquaterName {
  width: 152px;
  height: 20px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  margin: 0 0 0 41px;
}
.headquaterMap {
  width: 265px;
  height: 48px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
  margin: 0 0 0 41px;
}
.headquaterPhone {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
  width: 181px;
  height: 23px;
  margin: 0 0 0 41px;
}
.headquaterEmail {
  width: 198px;
  height: 16px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  margin: 0 0 0 41px;
}
@media (max-width: 1024px){
  .mainRect {
    width: 1024px;
    height: auto;
     margin:auto;
     
     
  }
  .header {
    width: 1024px;
    height: 100px;
    background-color: white;
    /* border: 1px solid black; */
  }
  .header_logo {
    width: 1024px;
    height: 200px;
  
  }
  .header_logoThree{
    margin: 10px 0 0 -150px;
  }
  #contenctImg{
    width: 1024px;
  
  }
  .contenctImg{
    width: 1024px;
  }
  .content{
    width: 1024px;
    margin: -100px 0 0 0;
  }

}
@media (max-width: 375px) {
 
  .mainRect {
    width: 375px;
    height: auto;
     margin:auto;
     
     
  }
  .header {
    width: 375px;
    height: 100px;
    background-color: white;
    /* border: 1px solid black; */
  }
  .lineDiv {
    opacity: 0;
  }
  .header_logo {
    width: 375px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
  }
  .header_logoOne {
    margin: -30px 0 0 120px;

    font-size: 35px;
  }
  .header_logoTwo {
    opacity: 0;
  }
  .header_logoThree {
    position: relative;
    font-family: Montserrat;
    font-size: 17px;
    margin: -70px 0 0 100px;
  }
  .header_logoFour {
    margin: -70px 0 0 150px;
  }
  .header_logoFive {
    margin: -70px 0 0 50px;
  }
  .header_logoSix {
    margin: -70px 0 0 150px;
  }
  .header_logoSeven {
    margin: -70px 0 0 50px;
  }
  .header_logoEight {
    margin: -50px 0 0 130px;
  }
  .getstarted {
    width: 370px;
    font-size: 22px;
    font-weight: 700;
  
    line-height: 1;
    text-align: left;
   }
   .content{
     width: 375px;
    margin:200px 0 0 0;
  } 
.getIn{
  width: 350px;
  font-size: 37px;
  
}
.getInText{
  width: 350px;
  font-size: 20px;
  margin: -100px 0 0 0;
}
.form{
  flex-direction: column;
  width: 350px;
  margin: 0 0 0 50px;
  
}
.formGetIn{
  width: 350px;
}
.mb-3{
  width: 350px;
}
#formOne{
  width: 300px;
}
#formtwo{
  width: 300px;
}
.headquater{
  margin: 20px 0 0 -50px ;
  width: 300px;
  }  

  .lastRect {
    width: 375px;
    height: 200px;
    background-image: url(assets/img/contactUs/bgDownload.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .doYouLikeDiv {
    margin: 0 0 0 20px;
  }
  .doYouLike_oneText {
    width: 375px;
    font-size: 22px;
  }
  .doYouLike_twoText {
    width: 375px;
    font-size: 17px;
  }
  .downloadButton {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    margin: 160px 0 0 0;
  }
  .wapikText {
    margin: 0 0 0 50px;
  }
  .mainFooter {
    flex-direction: column;
    margin: 220px 0 0 0;
  }
  .footer_columnFour {
    margin: 29px 0 0 150px;
  }
  .newsletter_text {
    margin: 0 0 0 -70px;
  }
  .newsletter_input {
    margin: 20px 0 0 -70px;
  }
  .mainFooterCorp {
    margin: -30px 0 0 0;
    height: auto


  }
  .contenctImg{
 display: none
  }
}

