@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.mainDiv {
  width: 1500px;
  height: auto;
  margin: auto;
  position: relative;
}
.header {
  width: 1500px;
  height: 600px;
  background-image: url("assets/img/bgHeader.png");
}
.header_logo {
  width: 1500px;
  height: 200px;

  position: relative;
  margin: -600px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header_logoOne {
  width: 90px;
  height: 20px;
  /* border: 1px solid black; */
  font-family: ProximaNova;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: -100px 0 0 150px;
}
.header_logoTwo {
  width: 2px;
  height: 20px;
  background-color: rgb(99, 97, 97);
  margin: -80px 0 0 -90px;
}
.header_logoThree {
  width: 200px;
  height: 20px;
  position: relative;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
  margin: -90px 0 0 -90px;
}
.imgLogoPhone {
  width: 14px;
  height: 14px;
}
.header_logoFour {
  width: 90px;
  height: 20px;
  margin: -70px 0 0 -70px;
}
.header_logoFour_button {
  color: white;
  text-decoration: none;
  margin: 0 0 0 60px;
  font-family: Montserrat;
}
.header_logoFour_button:hover {
  color: white;
}
.header_logoFive {
  width: 150px;
  height: 20px;

  margin: -70px 0 0 -90px;
}
.header_logoSix {
  width: 120px;
  height: 20px;
  margin: -70px 0 0 -90px;
}

.header_logoSeven {
  width: 180px;
  height: 20px;
  margin: -70px 0 0 -90px;
}
.header_logoEight {
  width: 110px;
  height: 32px;
  margin: -70px 0 0 0;
}

.getstart {
  width: 110px;
  height: 32px;
  opacity: 0.8;
  border-radius: 5px;
  background-color: gray;
  text-decoration: none;
}
.getstart_span {
  opacity: 1;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
.header_button {
  width: 240px;
  height: 60px;
  position: relative;
  margin: 182px 0 0 630px;
  border-radius: 5px;
  background-color: #6fb048;
}
.header_button_span {
  width: 177px;
  height: 12px;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.contetnDiv {
  width: 1500px;
  height: 942px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;
}
.contetnDiv_One {
  width: 129px;
  height: 26px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
  position: relative;
  margin: 200px 0 0 0;
}
.contetnDiv_Two {
  width: 702px;
  height: 82px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.contetnDiv_Three {
  width: 80%;
  height: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contentDivIconWorksOne {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logoWorksOne {
  width: 52px;
  height: 52px;
}
.nameOne {
  width: 61px;
  height: 14px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.textOne {
  width: 299px;
  height: 59px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
/* two */
.contentDivIconWorksTwo {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logoWorksTwo {
  width: 52px;
  height: 52px;
}
.nameTwo {
  width: 161px;
  height: 14px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.textTwo {
  width: 299px;
  height: 59px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
/* //three */
.contentDivIconWorksThree {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logoWorksOne {
  width: 52px;
  height: 52px;
}
.nameThree {
  width: 161px;
  height: 14px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
}
.textThree {
  width: 299px;
  height: 59px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.paleteDiv {
  width: 150px;
  height: 100px;
  margin: -50px 0 0 690px;
  position: relative;
  margin: auto;
}
.meetOurTeam_div {
  width: 1500px;
  height: 660px;
  background-color: #eef1ec;
  /* // border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  /* position: relative; */
}
.meetOurTeam {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #0f5f5c;
  width: 223px;
  height: 25px;
}
.meetOurTeam_text {
  width: 679px;
  height: 57px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #83a7a5;
}
.meetOurTeam_team {
  /* // border: 1px solid black; */
  width: 1020px;
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.humanOne {
  height: 230px;
  width: 299px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* // margin: 5px 0 0 0; */
}
.humanOne_photo {
  width: 299px;
  height: 180px;
}
.humanOne_name {
  width: 96px;
  height: 16px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.humanOne_workPlace {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
/* //two */
.humanTwo {
  height: 230px;
  width: 299px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.humanTwo_photo {
  width: 299px;
  height: 180px;
}
.humanTwo_name {
  width: 196px;
  height: 16px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.humanTwo_workPlace {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
/* //three */

.humanThree {
  height: 230px;
  width: 299px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.humanThree_photo {
  width: 299px;
  height: 180px;
}
.humanThree_name {
  width: 96px;
  height: 16px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.humanThree_workPlace {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.lastRect {
  width: 1500px;
  height: 200px;
  background-image: url(assets/img/bgDownload.png);
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.buttonLast {
  width: 285px;
  height: 42px;
  border-radius: 2px;
  background-color: #49732f;
  outline: none;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.doYouLike_oneText {
  width: 552px;
  height: 28px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.doYouLike_twoText {
  width: 553px;
  height: 15px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.footer {
  height: 287px;
  width: 1500px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer_columnOne {
  width: 184px;
  height: 184px;
}
.wapikText {
  width: 69px;
  height: 16px;
  font-family: ProximaNova;
  font-size: 21.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
  text-transform: uppercase;
}
.wapikAdress {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.footer_columnTwo {
  width: 100px;
  height: 184px;
}
.companyText {
  width: 55px;
  height: 13px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.links {
  margin: 22px 0 0 0;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5 !important;
  text-decoration: none;
}
a {
  color: #83a7a5;
  text-decoration: none;
}
.footer_columnThree {
  width: 100px;
  height: 184px;
}
.othersText {
  width: 39px;
  height: 12px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}

.supports {
  width: 89px;
  height: 98px;
  margin: 23px 0 0 0;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.footer_columnFour {
  width: 241px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.inputFooter {
  width: 241px;
  height: 36px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: #eef1ec;
  border: none;
}
.newsletter {
  width: 225px;
  height: 30px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #0f5f5c;
}
.newsletter_text {
  width: 225px;
  height: 30px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.mainFooter {
  /* width: 1500px;
  height: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainFooterCorp {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #83a7a5;
}
.icon {
  width: 200px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.iconOne {
  width: 30px;
  height: 30px;
}
.iconTwo {
  width: 30px;
  height: 30px;
}
.iconThree {
  width: 30px;
  height: 30px;
}
.iconFour {
  width: 30px;
  height: 30px;
}
.iconFive {
  width: 30px;
  height: 30px;
}
.iconSix {
  width: 30px;
  height: 30px;
}
@media (max-width: 1024px){

  .mainRect {
    width: 1024px;
    height: auto;
    margin: auto;
     border: 1px solid black;
  }
  .mainDiv{
    width: 1024px;
  }

   .header {
    width: 1024px;
    height: 600px;
    background-image: url("assets/img/aboutUs/Rectangle\ 1.png");
    opacity: 1;
    border: 1px solid black;
  } 

  .header_logo {
    width: 1024px;
    height: 300px;
   
  }
  a{
    color:black;
  }

  .lineDiv {
    opacity: 0;
  }

  .header_logoThree{
    margin: 70px 0 0 -180px;
    color: black;
  }
  .header_button{
    margin: 100px 0 0 400px;
  }
  .contetnDiv{
    width: 1024px;
  }
.meetOurTeam_div{
  width: 1024px;
}
.lastRect{
  width: 1024px;
}
.footer{
  width: 1024px;
}



@media (max-width: 375px) {
  .mainDiv{width: 375px;}
  .meetOurTeam_team{
    width: 375px;
  }
  .mainRect {
    width: 375px;
    height: auto;
    margin: auto;
    /* border: 1px solid black; */
  }
  .header {
    width: 375px;
    height: 600px;
    background-image: url("assets/img/aboutUs/Rectangle\ 1.png");
    opacity: 1;
  }
  .lineDiv {
    opacity: 0;
  }
  .header_logo {
    width: 375px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .header_logoOne {
    margin: -10px 0 0 120px;
    font-size: 35px;
  }
  .header_logoTwo {
    opacity: 0;
  }
  .header_logoThree {
    /* position: relative; */
    font-family: Montserrat;
    font-size: 17px;
    margin: -60px 0 0 100px;
  }
  .header_logoFour {
    margin: -70px 0 0 150px;
  }
  .header_logoFive {
    margin: -70px 0 0 50px;
  }
  .header_logoSix {
    margin: -70px 0 0 150px;
  }
  .header_logoSeven {
    margin: -70px 0 0 50px;
  }
  .header_logoEight {
    margin: -40px 0 0 130px;
  }
  .header_button_span {
    margin: 0 0 0 0;
  }
  .header_button {
    margin: 0 0 0 60px;
    outline: invert;
    border: black;
  }

  .contetnDiv {
    width: 375px;
    height: 1200px;
    margin: 240px 0 0 0;
    /* border: 1px solid black; */
  }
  .contetnDiv_One {
    font-size: 40px;
    width: 375px;
  }
  .contetnDiv_Two {
    width: 350px;
    font-size: 20px;
    margin: -180px 0 0 0;
  }
  .contetnDiv_Three {
    margin: 70px 0 0 0;
    flex-direction: column;
  }
  .contentDivIconWorksOne {
    margin: 70px 0 0 0;
    width: 375px;
    height: auto;
  }
  .textOne {
    font-size: 16px;
  }

  .contentDivIconWorksTwo {
    padding: 50px 0 0 0;
  }
  .textTwo {
    font-size: 16px;
  }

  .contentDivIconWorksThree {
    padding: 50px 0 0 0;
  }
  .textThree {
    font-size: 16px;
  }
  .paleteDiv {
    margin: -50px 0 0 120px;
  }
  .meetOurTeam_div {
    width: 375px;
    height: 1100px;
    /* border: 1px solid black; */
  }
  .meetOurTeam {
    margin: -250px 0 0 0;
  }
  .meetOurTeam_text {
    width: 355px;
    margin: -500px 0 0 0;
    font-size: 20px;
  }
  .meetOurTeam_team {
    margin: -200px 0 0 0;
    flex-direction: column;
  }

  .lastRect {
    width: 375px;
    height: 200px;
    background-image: url(assets/img/contactUs/bgDownload.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .doYouLikeDiv {
    margin: 0 0 0 20px;
  }
  .doYouLike_oneText {
    width: 375px;
    font-size: 22px;
    color: black;
  }
  .doYouLike_twoText {
    width: 375px;
    font-size: 17px;
    color: black;
  }
  .downloadButton {
    flex-direction: column;
  }
  .footer {
    width: 375px;
    flex-direction: column;
    margin: 250px 0 0 0px;
  }
  .wapikText {
    margin: 0 0 0 50px;
  }
  .mainFooter {
    flex-direction: column;
    margin: 220px 0 0 0;
  }
  .footer_columnFour {
    margin: 29px 0 0 150px;
  }
  .newsletter_text {
    margin: 0 0 0 -70px;
  }
  .newsletter_input {
    margin: 20px 0 0 -70px;
  }
  .mainFooterCorp {
    margin: -30px 0 0 0;
    height: 50px;
  }
}
}